@tailwind base;
@layer base {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }
}

@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* * {
  border: 1px solid black;
} */

body {
}

.flex-center {
  @apply flex justify-center items-center;
}

.container-base {
  @apply max-w-6xl w-full mx-auto px-10  max-md:px-7;
}

.navbar ul li.active {
  @apply text-warning;
}

.form > div label {
  display: block;
  margin-bottom: 6px;
}

.transaction-nav ul li.active {
  font-weight: 500;
  color: black !important;
}
